@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

body {
    margin: 0;
    font-family: arial, tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    direction: ltr;
    background: white;
}

#logo {
    margin: 0 auto;
    width: 500px; 
    font-family: 'Lily Script One', cursive;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: lightgray;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transitions: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2 ease all;
}

#logo:hover {
    color: orange;
}

form {
    margin: 0 auto 0 auto;
    padding: 30px;
    width: 400px;
    height: auto;
    overflow: hidden;
    background: white;
    border-radius: 10px;
}

form label {
    font-size: 14px;
    color: darkgray;
    cursor: pointer;
}

form label, form input {
    float: left;
    clear:both;
}

form input {
    margin:15px 0;
    padding:15px 10px; width:100%;
    outline:none;
    border:1px solid #bbb;
    border-radius:20px;
    display:inline-block;
    -webkit-box-sizing: border-box;  
    -moz-box-sizing:border-box;   
    box-sizing:border-box;
    
    -webkit-transition: 0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -ms-transition: 0.2s ease all;   
    -o-transition:0.25 ease all;    
    transition:0.25 ease all;
}
    

form input[type=text]:focus {
    border-color:orange;    
}

button {
    padding:15px 50px;  
    width:auto;
    background: orange;
    border:none; border-radius: 1rem;
    color:white;
    cursor:pointer;
    display:inline-block;
    float:right;
    clear:right;
    -webkit-transition:0.2s ease all; 
    -moz-transition:0,2s ease all;
    -ms-transition:8.2s ease all;
    -o-transition:9.25 ease all;
    transition:0.2s ease all;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.4;
}

.center {
    display: flex;
    justify-content: center;
}